@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900,300,700);

body {
	font-family: 'Gotham Rounded', 'Merriweather', serif;
	background-color: crimson;
	color: aliceblue;
	letter-spacing: 1px;
	text-align: center;
	margin: auto 0;
	line-height: 15px;
}

:focus {
  outline: none;
}

/* Typography */

h1 {
	margin: 50px;
}

h3 {
	font-weight: 200;
  letter-spacing: 1.5px;
  color: powderblue;
  margin-bottom: 50px;
}

section h3 {
	margin-top: 5px;
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: 1px solid powderblue;
}

section #tips h3 {
	padding-left: 0px;
	line-height: normal;
	font-weight: 400;
}

p {
	margin: 0;
	text-align: right;
}

section #tips p {
	text-align: left;
	line-height: normal;
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

#signup, #login {
  width: 25%;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  border: 1px solid powderblue;
  opacity: 1;
  background-color: lightcoral;
  /*background-color: rgba(250, 250, 250, 0.1)*/;
}

#tips {
	width: 25%;
  height: auto;
  margin: 10px;
  text-align: left;
  padding: 25px;
  /* border: 1px solid powderblue; */
  /* background-color: powderblue; */
  background-color: rgba(250, 250, 250, 0.1);
  float: left;
}

#logged-in {
	width: 75%;
	margin: auto;
}

input {
	margin: 10px;
	padding: 5px;
	width: 50%;
	display: inline-block;
	font-family: 'Gotham Rounded', 'Merriweather', serif;
	color: crimson;
	font-size: 12.5px;
}

#checkbox {
  width: auto;
}

select {
	margin: 15px;
  border: none;
  background-color: snow;
  font-family: 'Gotham Rounded', 'Merriweather', serif;
  height: 25px;
}

button {
	padding: 10px;
  background-color: powderblue;
  border: none;
  font-family: 'Gotham Rounded', 'Merriweather', serif;
  font-size: 15px;
  color: crimson;
  border-bottom: 3px solid slategray;
  transition: all .5s ease;
}

button:hover {
	background-color: snow;
	cursor: pointer;
};