@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900,300,700);

body {
	font-family: 'Gotham Rounded', 'Merriweather', serif;
	background-color: crimson;
	color: aliceblue;
	letter-spacing: 1px;
	text-align: center;
	margin: auto 0;
	line-height: 15px;
}

h1 {
	margin: 50px;
}

h3 {
	font-weight: 200;
  letter-spacing: 1.5px;
  color: powderblue;
  margin-bottom: 50px;
}

p {
	margin: 0;
}

#signup, #login {
  width: 35%;
  margin: auto;
  margin-bottom: 50px;
  padding: 25px;
  border: 1px solid snow;
  opacity: 1;
  background-color: lightcoral;
  /*background-color: rgba(250, 250, 250, 0.1)*/;
}

input {
	margin: 10px;
	padding: 5px;
	width: 50%;
	display: inline-block;
	font-family: 'Gotham Rounded', 'Merriweather', serif;
	color: crimson;
	font-size: 12.5px;
}

select {
	margin: 15px;
  border: none;
  background-color: snow;
  font-family: 'Gotham Rounded', 'Merriweather', serif;
  height: 25px;
}

button {
	padding: 10px;
  background-color: powderblue;
  border: none;
  font-family: 'Gotham Rounded', 'Merriweather', serif;
  font-size: 15px;
  color: crimson;
}